*{ /*limpieza de pagina*/
    margin: unset;
    padding: unset;
    outline: unset;
    border: unset;

    box-sizing: border-box;
    display: block;

    font-size: 1rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/*diseño de pagina*/
.main{
    width: 100%;
    background-color:#1f1f1f;
}
/*usuario*/
.main__Usuario{
    display: flex;
    align-items: center;
}

.imagenUsuario {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 10px;
}
.nombreUsuario{
    font-weight: bold;
    color: aliceblue;
}
/*botones reproductor*/
.main__button {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0;
    background-color: #1f1f1f;
    color: #f1f1f1;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    
}

.controles {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


imput[type="range"] {
    width: 100%;
    margin: 1opx;
}