* {
    /*limpieza de pagina*/
    margin: unset;
    padding: unset;
    border: unset;
    box-sizing: border-box;
    display: block;
}

/*diseño de pagina*/
.body {
    font-size: 1rem;
    list-style: none;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1f1f1f;
}

.header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__cabecera {
    padding: 10px 40px;
    gap: 20px;
    text-align: center;
    justify-content: space-between;
    border-radius: 12%;
}

.header__cabecera h2 {
    color: #f1f1f1;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
}

.header__texto {
    color: #f1f1f1;
    font-size: 32;
    font-weight: bold;
    text-align: center;

}

.header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    color:#f2f2f2;
    gap: 50px;
    font-weight: bold;
    transform: background .3s ease-in;

}

.campana{
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.096);
    border-radius: 12%;
    background-color: #1f1f1f;
    color:#f2f2f2;
    padding: 10px 10px;
    transition: background 3s ease-in;
}
.campana:hover{
    background-color: #1f1f1fa2;
}

.off{
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.096);
    border-radius: 12%;
    background-color: #1f1f1f;
    color:#f2f2f2;
    padding: 10px 10px;
    transition: background 3s ease-in;
}
.off:hover{
    background-color: #1f1f1f9e;
}

.main {
    width: 100%;
    padding: auto;
}
/*buscador*/
.buscar{
    position: absolute;
    left: 48%;
    top: 45%;
    transform: translate(-50%, -50%);
    padding: 10px 150px;

    
}


.buscar__1 {
    background-color: #1f1f1f;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #f1f1f1;
    padding: 10px 130px;


}

/*contenedor reproductor*/

.main__reproduccion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    color: #f2f2f2;
    
}
.reproduccion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 800px;
    color: #f1f1f1;

}
/* botones del reproductor */
.main__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 10px 100px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.096);
    border-radius: 10%;
    width: 50%;

}
.main__button:hover{
    background: #f2f2f22a;
}
  .main__button__1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

.corazon {
    padding: 12px 12px;
    background-color:#1f1f1f;
    color:aqua;
    transition: background  .3s ease-in;
    border-radius: 10%;
}
.corazon:hover{
    background-color:rgba(0, 255, 255, 0.16);

}
.orden {
    padding: 12px 12px;
    background-color: #1f1f1f;
    color:#f2f2f2;
    transition: background  .3s ease-in;
    border-radius: 10%;
}
.orden:hover{
    background-color:rgba(0, 255, 255, 0.16);
}
.aleatoreo {
    padding: 12px 12px;
    background-color: #1f1f1f;
    color:#f2f2f2;
    transition: background  .3s ease-in;
    border-radius: 10%;
}
.aleatoreo:hover{
    background-color:rgba(0, 255, 255, 0.16);

}
.main__button__2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.m-anterior{
    background-color: #1f1f1f;
    color:#f2f2f2;
    padding: 12px 12px;
    transition: background  .3s ease-in;
    border-radius: 10%;

}
.m-anterior:hover{
    background-color:rgba(0, 255, 255, 0.16);
}

.play{
    background-color: #1f1f1f;
    color:#f2f2f2;
    padding: 12px 12px;
    transition: background  .3s ease-in;
    border-radius: 10%;
}
.play:hover{
    background-color:rgba(0, 255, 255, 0.16);
}

.m-siguiente{
    background-color: #1f1f1f;
    color:#f2f2f2;
    padding: 12px 12px;
    transition: background  .3s ease-in;
    border-radius: 10%;
}

.m-siguiente:hover{
    background-color:rgba(0, 255, 255, 0.16);

}

.main__button__3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.compartir{
    background-color:#1f1f1f;
    color:aqua;
    padding: 12px 12px;
    transition: background  .3s ease-in;
    border-radius: 10%;
}

.compartir:hover{
    background-color:rgba(0, 255, 255, 0.16);

}
.guardar{
    background-color: #1f1f1f;
    color:#f2f2f2;
    padding: 12px 12px;
    transition: background  .3s ease-in;
    border-radius: 10%;
}
.guardar:hover{
    background-color:rgba(0, 255, 255, 0.16);

}
/*listas*/
.list h3 {
    display: flex;
    align-items: start;
    color: aqua;
    font-size: 20;
    font-weight: bold;
    padding: 30px 120px;

}
.button-mover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 10px 10px;
    border-radius: 10%;
}
.button-mover__atras{
    padding: 10px 80px;
    justify-self: center;
    align-items: center;
    background-color: #1f1f1f;
    color:#f2f2f2;
    
}
.button-movimiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 10px 10px;
    border-radius: 10%;
}
.button-movimiento__avanza {
    padding: 10px 80px; background-color: #1f1f1f;
    color:#f2f2f2;
}
.main__list{
    display: flex;
    padding: 20px 20px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.096), 2px 2px 5px rgba(255, 255, 255, 0.096);

}

#track-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px 10px;
    color: #f1f1f1;
    text-align: center;
    font: size 16px;
    display: flex;
    flex-direction:row-reverse;

    
}

.songs img {
    width: 100%;
}
/* panel recomendado*/
.main__recomend{
    display: flex;
    padding: 20px 20px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.096), 2px 2px 5px rgba(255, 255, 255, 0.096);


   
}
.recomend h3 {
    display: flex;
    flex-direction:column;
    align-items: start;
    color: rgb(210, 243, 101);
    font-size: 16;
    font-weight: bold;
    padding: 30px 120px;
}
.main__recomend__songs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 33px;
    padding: 10px 130px;
    display: flex;
    flex-direction:row-reverse;
}

.main__recomend__songs h2{
    color: #f1f1f1;
    font-size: 16px;
    font-weight: bold;  
    text-align: center;
}
.main__recomend__songs h4{
    color: #f1f1f1;
    font-size: 12px;
    font-weight:lighter; 
    text-align: center;
}



