*{
    margin: unset;
    padding: unset;
    outline: unset;
    border: unset;

    box-sizing: border-box;
    display: block;

    font-size: 1rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}